<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=
    , initial-scale=1.0"
    />
    <title>Document</title>
  </head>
  <body ng-controller="myController">
    <!-- 1. Filter
            - currency, date, json,limitTo, 
            lowercase,uppercase,filter
            json,orderBy....
        2. Cách gọi filter
            {{myString | filter}}
            VD:{{lastName | uppercase}}
        3.Custom filter
            - Dùng directive
     -->
    <p>{{myNumber}}</p>
    <p>{{myNumber | number :4}}</p>
    <p>{{myNumber | currency :'$':4}}</p>
    <p>{{now}}</p>
    <p>{{now | date :'dd-MM-yyyy HH :mm:ss'}}</p>
    <p>{{name | uppercase}}</p>
    <p>{{name | lowercase}}</p>
    <p>{{sv | json}}</p>
    <ul>
      <li ng-repeat="item in arr | limitTo :2:0">{{item.ma}}</li>
    </ul>
    Search <input type="text" ng-model="searchText" />
    <table>
      <thead>
        <tr>
          <td>Ma</td>
          <td>Ten</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in arr |filter : searchText">
          <td>{{item.ma}}</td>
          <td>{{item.name}}</td>
        </tr>
      </tbody>
    </table>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="./index.js"></script>
  </body>
</html>
